<h2>User info</h2>

<%= form_with model: @user do |f| %>
<%= render 'error', user: @user %>
  <div>
    <label>Name</label><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <label>Image</label><br>
    <%= f.file_field :profile_image, accept: "image/*" %>
  </div>
  <div>
    <label>Introduction</label><br>
    <%= f.text_area :introduction %>
  </div>
    <%= f.submit 'Update User' %>
<% end %>